<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/client/menu :: area(~{:: main})}">

<body th:fragment="main">

    <div class="container">
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/client/index">Trang chủ</a></li>
                        <li class="breadcrumb-item"><a href="/client/p">Sữa chữa</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Chi tiết dịch vụ</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    
    <div class="container">
    <div class="row">
        <!-- Image -->
        <div class="col-12 col-lg-4">
            <div class="card bg-light mb-3">
                <div class="card-body">
                    <a href="" data-toggle="modal" data-target="#productModal">
                        <img class="img-fluid" src="https://kiendienlanh.com/image/cache/data/tai-xu%E1%BB%91ng-(1)-cr-220x145.jpg" />               
                    </a>
                </div>
            </div>
        </div>

        <!-- Add to cart -->
        <div class="col-12 col-lg-8 add_to_cart_block">
            <div class="card bg-light mb-3">
                <div class="card-body">
                    <table border="1" cellspacing="0" style="border-collapse:collapse; border-color:rgb(136, 136, 136); border-width:1px; font-weight:bold; margin:0px">
                        <tbody>
                            <tr>
                                <td style="height:35px; vertical-align:top; width:50px"><span style="font-size:16px">&nbsp;STT</span></td>
                                <td style="height:35px; vertical-align:top; width:302px"><span style="font-size:16px">&nbsp;Dịch Vụ</span></td>
                                <td style="height:35px; vertical-align:top; width:50px"><span style="font-size:16px">&nbsp;ĐVT</span></td>
                                <td style="height:35px; vertical-align:top; width:253px"><span style="font-size:16px">&nbsp;Đơn Giá ( Máy giặt cửa trên)</span></td>
                                <td style="height:35px; vertical-align:top; width:245px"><span style="font-size:16px">&nbsp;Đơn Giá ( Máy giặt cửa ngang )</span></td>
                            </tr>
                            <tr>
                                <td style="height:23px; vertical-align:top; width:50px"><span style="font-size:16px">&nbsp;1</span></td>
                                <td style="height:23px; vertical-align:top; width:302px"><span style="font-size:16px">&nbsp;Thay van cấp nước</span></td>
                                <td style="height:23px; vertical-align:top; width:50px"><span style="font-size:16px">&nbsp;Cái</span></td>
                                <td style="height:23px; vertical-align:top; width:253px"><span style="font-size:16px">&nbsp;450.000</span></td>
                                <td style="height:23px; vertical-align:top; width:245px"><span style="font-size:16px">&nbsp;600.000</span></td>
                            </tr>
                            <tr>
                                <td style="height:23px; vertical-align:top; width:50px"><span style="font-size:16px">&nbsp;2</span></td>
                                <td style="height:23px; vertical-align:top; width:302px"><span style="font-size:16px">&nbsp;Thay phao nước</span></td>
                                <td style="height:23px; vertical-align:top; width:50px"><span style="font-size:16px">&nbsp;Cái</span></td>
                                <td style="height:23px; vertical-align:top; width:253px"><span style="font-size:16px">&nbsp;450.000</span></td>
                                <td style="height:23px; vertical-align:top; width:245px"><span style="font-size:16px">&nbsp;600.000</span></td>
                            </tr>
                            <tr>
                                <td style="height:23px; vertical-align:top; width:50px"><span style="font-size:16px">&nbsp;3</span></td>
                                <td style="height:23px; vertical-align:top; width:302px"><span style="font-size:16px">&nbsp;Thay công tắc cửa</span></td>
                                <td style="height:23px; vertical-align:top; width:50px"><span style="font-size:16px">&nbsp;Cái</span></td>
                                <td style="height:23px; vertical-align:top; width:253px"><span style="font-size:16px">&nbsp;200.000</span></td>
                                <td style="height:23px; vertical-align:top; width:245px"><span style="font-size:16px">&nbsp;450.000</span></td>
                            </tr>
                            <tr>
                                <td style="height:23px; vertical-align:top; width:50px"><span style="font-size:16px">&nbsp;4</span></td>
                                <td style="height:23px; vertical-align:top; width:302px"><span style="font-size:16px">&nbsp;Thay moter xả ( bơm xả nước)</span></td>
                                <td style="height:23px; vertical-align:top; width:50px"><span style="font-size:16px">&nbsp;Cái</span></td>
                                <td style="height:23px; vertical-align:top; width:253px"><span style="font-size:16px">&nbsp;550.000</span></td>
                                <td style="height:23px; vertical-align:top; width:245px"><span style="font-size:16px">&nbsp;800.000</span></td>
                            </tr>
                            <tr>
                                <td style="height:23px; vertical-align:top; width:50px"><span style="font-size:16px">&nbsp;5</span></td>
                                <td style="height:23px; vertical-align:top; width:302px"><span style="font-size:16px">&nbsp;Thay Mâm giặt</span></td>
                                <td style="height:23px; vertical-align:top; width:50px"><span style="font-size:16px">&nbsp;Cái</span></td>
                                <td style="height:23px; vertical-align:top; width:253px"><span style="font-size:16px">&nbsp;450.000</span></td>
                                <td style="height:23px; vertical-align:top; width:245px"><span style="font-size:16px">&nbsp;600.000</span></td>
                            </tr>
                            <tr>
                                <td style="height:23px; vertical-align:top; width:50px"><span style="font-size:16px">&nbsp;6</span></td>
                                <td style="height:23px; vertical-align:top; width:302px"><span style="font-size:16px">&nbsp;Thay moter máy</span></td>
                                <td style="height:23px; vertical-align:top; width:50px"><span style="font-size:16px">&nbsp;Cái</span></td>
                                <td style="height:23px; vertical-align:top; width:253px"><span style="font-size:16px">&nbsp;800.000</span></td>
                                <td style="height:23px; vertical-align:top; width:245px"><span style="font-size:16px">&nbsp;950.000</span></td>
                            </tr>
                            <tr>
                                <td style="height:23px; vertical-align:top; width:50px"><span style="font-size:16px">&nbsp;7</span></td>
                                <td style="height:23px; vertical-align:top; width:302px"><span style="font-size:16px">&nbsp;Thay mâm từ máy giặt inverter</span></td>
                                <td style="height:23px; vertical-align:top; width:50px"><span style="font-size:16px">&nbsp;Cái</span></td>
                                <td style="height:23px; vertical-align:top; width:253px"><span style="font-size:16px">&nbsp;1.200.000</span></td>
                                <td style="height:23px; vertical-align:top; width:245px"><span style="font-size:16px">&nbsp;1.500.000</span></td>
                            </tr>
                            <tr>
                                <td style="height:23px; vertical-align:top; width:50px"><span style="font-size:16px">&nbsp;8</span></td>
                                <td style="height:23px; vertical-align:top; width:302px"><span style="font-size:16px">&nbsp;Sửa cos máy giặt</span></td>
                                <td style="height:23px; vertical-align:top; width:50px"><span style="font-size:16px">Cái&nbsp;</span></td>
                                <td style="height:23px; vertical-align:top; width:253px"><span style="font-size:16px">&nbsp;750.000</span></td>
                                <td style="height:23px; vertical-align:top; width:245px"><span style="font-size:16px">&nbsp;1.200.000</span></td>
                            </tr>
                            <tr>
                                <td style="height:23px; vertical-align:top; width:50px"><span style="font-size:16px">&nbsp;9</span></td>
                                <td style="height:23px; vertical-align:top; width:302px"><span style="font-size:16px">&nbsp;Sửa bo mạch máy giặt</span></td>
                                <td style="height:23px; vertical-align:top; width:50px"><span style="font-size:16px">&nbsp;Cái</span></td>
                                <td style="height:23px; vertical-align:top; width:253px"><span style="font-size:16px">&nbsp;550.000</span></td>
                                <td style="height:23px; vertical-align:top; width:245px"><span style="font-size:16px">&nbsp;750.000</span></td>
                            </tr>
                            <tr>
                                <td style="height:23px; vertical-align:top; width:50px"><span style="font-size:16px">&nbsp;10</span></td>
                                <td style="height:23px; vertical-align:top; width:302px"><span style="font-size:16px">&nbsp;Thay dây curoa</span></td>
                                <td style="height:23px; vertical-align:top; width:50px"><span style="font-size:16px">&nbsp;Dây</span></td>
                                <td style="height:23px; vertical-align:top; width:253px"><span style="font-size:16px">&nbsp;250.000</span></td>
                                <td style="height:23px; vertical-align:top; width:245px"><span style="font-size:16px">&nbsp;450.000</span></td>
                            </tr>
                            <tr>
                                <td style="height:23px; vertical-align:top; width:50px"><span style="font-size:16px">&nbsp;11</span></td>
                                <td style="height:23px; vertical-align:top; width:302px"><span style="font-size:16px">&nbsp;Làm đồng sơn thùng máy</span></td>
                                <td style="height:23px; vertical-align:top; width:50px"><span style="font-size:16px">&nbsp;Máy</span></td>
                                <td style="height:23px; vertical-align:top; width:253px"><span style="font-size:16px">&nbsp;900.000</span></td>
                                <td style="height:23px; vertical-align:top; width:245px"><span style="font-size:16px">&nbsp;1.200.000</span></td>
                            </tr>
                            <tr>
                                <td style="height:23px; vertical-align:top; width:50px"><span style="font-size:16px">&nbsp;12</span></td>
                                <td style="height:23px; vertical-align:top; width:302px"><span style="font-size:16px">&nbsp;Vệ sinh máy giặt</span></td>
                                <td style="height:23px; vertical-align:top; width:50px"><span style="font-size:16px">&nbsp;Máy</span></td>
                                <td style="height:23px; vertical-align:top; width:253px"><span style="font-size:16px">&nbsp;250.000</span></td>
                                <td style="height:23px; vertical-align:top; width:245px"><span style="font-size:16px">&nbsp;400.000</span></td>
                            </tr>
                        </tbody>
                    </table>
                                                                                       
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <!-- Description -->
        <div class="col-12">
            <div class="card border-light mb-3">
                <div class="card-header bg-primary text-white text-uppercase"><i class="fa fa-align-justify"></i> Description</div>
                <div class="card-body">
                    <p class="card-text">
                        Có rất nhiều nguyên nhân khiến tủ lạnh không lạnh. Chủ yếu xuất phát từ thói quen sử dụng tủ lạnh hằng ngày của chúng ta. Qua kinh nghiệm nhiều năm, chúng tôi đúc kết được 7 nguyên nhân chính khiến tủ lạnh không lạnh. </p>
                    <p class="card-text">
                        Tủ chứa quá nhiều thực phẩm: với quan điểm “mua một lần ăn một tuần”, sau mỗi lần đi chợ, có bao nhiêu thực phẩm bạn lại cho hết vào tủ lạnh, khiến tủ lạnh trở nên chật kín không còn chỗ trống. Dẫn đến hơi lạnh của tủ lạnh không được lưu thông toàn diện làm tủ lạnh không lạnh. Vì vậy bạn nên lựa chọ tủ lạnh có dung tích phù hợp với nhu cầu sử dụng của gia đình.
Điều chỉnh sai nhiệt độ tủ: có thể vì vô tình bạn đã làm nút nhiệt độ của tủ lạnh bị lệch, có thể là quá cao. Bạn chỉ cần chỉnh lại nút vặn thích hợp là tủ hoạt động bình thường.Đóng cánh cửa tủ không kín: hành động mở tủ thường xuyên nhưng cánh cửa tủ lại để hở không được đóng kín, làm hơi lạnh của tủ bị toả hết ra ngoài.
Nguồn điện bị yếu hoặc không ổn định: nguồn điện yếu khiến tủ không đủ năng lượng để thực hiện quá trình làm lạnh.
Dàn lạnh bị đóng tuyết quá dày: những tủ lạnh đời cũ sau quá trình làm lạnh lâu ngày sẽ có hiện tượng bám tuyết, nếu bạn không xả tuyết hoặc vệ sinh tủ thường xuyên sẽ làm cho ống dẫn hơi lạnh bị tắt nghẽn.
Tủ lạnh bị thiếu gas: có thể do sử dụng quá lâu, dàn lạnh bị hở mối, đứt mạch... khiến rò rỉ gas, tủ lạnh không còn đủ khí gas để dẫn vào quá trình làm lạnh.
Cảm biến nhiệt độ bị hỏng: bộ phận này có nhiệm vụ khởi động lại cho tủ lạnh khi nhiệt độ lạnh của tủ không đủ, nhưng do lâu ngày, cảm biến bị hỏng nên quá trình làm lạnh của tủ không được diễn ra theo chu trình quy định.
                         </p>
                </div>
            </div>
        </div>

        <!-- Reviews -->
        <div class="col-12" id="reviews">
            <div class="card border-light mb-3">
                <div class="card-header bg-primary text-white text-uppercase"><i class="fa fa-comment"></i> Reviews</div>
                <div class="card-body">
                    <div class="review">
                        >>> Hãy liên hệ ngay 0938079687  - 0934363522 sẽ được công ty chúng tôi tư vấn thắc mắc của bạn hoàn toàn miễn phí kể cả thứ 7 và chủ nhật.  Ngoài ra, công ty chúng tôi còn cung cấp dịch vụ sửa máy giặt tại nhà, sửa tủ lạnh tại nhà uy tín - chất lượng- giá rẻ.
                                 
                        <hr>
                    </div>
                    <div class="review">
                        <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                        <meta itemprop="datePublished" content="01-01-2016">January 01, 2018

                        <span class="fa fa-star" aria-hidden="true"></span>
                        <span class="fa fa-star" aria-hidden="true"></span>
                        <span class="fa fa-star" aria-hidden="true"></span>
                        <span class="fa fa-star" aria-hidden="true"></span>
                        <span class="fa fa-star" aria-hidden="true"></span>
                        by Paul Smith
                        <p class="blockquote">
                            <p class="mb-0">Điện Lạnh Bá Tuấn - nơi tin cậy của mọi nhà!  </p>
                        </p>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
 
 
</body>
</html>
