<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/client/menu :: area(~{:: main})}">
<body th:fragment="main">



    <div class="container">
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/client/index">Trang chủ</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Sữa chữa</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
<div class="container">
    <div class="row">
        <div class="col-12 col-sm-3">
            <div class="card bg-light mb-3">
                <div class="card-header bg-primary text-white text-uppercase"><i class="fa fa-list"></i>  DỊCH VỤ CỦA CHÚNG TÔI</div>
                <ul class="list-group category_block">
                    <li class="list-group-item"><a href="category.html">BẢO TRÌ MÁY LẠNH</a></li>
                    <li class="list-group-item"><a href="category.html">LẮP ĐẶT MÁY LẠNH</a></li>
                    <li class="list-group-item"><a href="category.html">BƠM GAS MÁY LẠNH</a></li>
                    <li class="list-group-item"><a href="category.html">SỬA LÒ VI SÓNG</a></li>
                    <li class="list-group-item"><a href="category.html">SỬA TỦ LẠNH</a></li>
                    <li class="list-group-item"><a href="category.html">SỬA MÁY GIẶT</a></li>
                    <li class="list-group-item"><a href="category.html">SỬA MÁY NƯỚC NÓNG</a></li>                                                                                            
                </ul>
            </div>
            <div class="card bg-light mb-3">
                <div class="card-header bg-success text-white text-uppercase">Tin tức</div>
                <div class="card-body">
                    <img class="img-fluid img_infor" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT5OgOfJYlMEBYwR8Ng19Apx6gUArMupHx1Lg&usqp=CAU" />
                    <h5 class="card-title service_info">Dieu hoa</h5>
                    <p class="card-text service_info" >Some quick example text to build on the card...</p>
                    <p class="bloc_left_price">4tr450  VND</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="card">
                        <div class=" service_info card-header bg-success text-white text-uppercase">
                            Sữa máy giặt
                       </div>
                        <img class="img-fluid border-0" src="https://kiendienlanh.com/image/cache/data/tai-xu%E1%BB%91ng-(1)-cr-220x145.jpg" alt="Card image cap">
                            <div class="card-body">
                            <h4 class="card-title service_info"><a href="product.html" title="View Product">Product title</a></h4>
                            <p class="card-text service_info">Some quick example text to build on the card title....</p>
                            <div class="row">
                                <div class="col">
                                    <a href="/client/detailService" class="btn btn-primary  btn-block">Chi tiết >></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="card">
                        <div class=" service_info card-header bg-success text-white text-uppercase">
                            Sữa máy giặt
                       </div>
                        <img class="img-fluid border-0" src="https://kiendienlanh.com/image/cache/data/tai-xu%E1%BB%91ng-(1)-cr-220x145.jpg" alt="Card image cap">
                            <div class="card-body">
                            <h4 class="card-title service_info"><a href="product.html" title="View Product">Product title</a></h4>
                            <p class="card-text service_info">Some quick example text to build on the card title....</p>
                            <div class="row">
                                <div class="col">
                                    <a href="/client/detailService" class="btn btn-primary  btn-block">Chi tiết >></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="card">
                        <div class=" service_info card-header bg-success text-white text-uppercase">
                            Sữa máy giặt
                       </div>
                        <img class="img-fluid border-0" src="https://kiendienlanh.com/image/cache/data/tai-xu%E1%BB%91ng-(1)-cr-220x145.jpg" alt="Card image cap">
                            <div class="card-body">
                            <h4 class="card-title service_info"><a href="product.html" title="View Product">Product title</a></h4>
                            <p class="card-text service_info">Some quick example text to build on the card title....</p>
                            <div class="row">
                                <div class="col">
                                    <a href="/client/detailService" class="btn btn-primary  btn-block">Chi tiết >></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="card">
                        <div class=" service_info card-header bg-success text-white text-uppercase">
                            Sữa máy giặt
                       </div>
                        <img class="img-fluid border-0" src="https://kiendienlanh.com/image/cache/data/tai-xu%E1%BB%91ng-(1)-cr-220x145.jpg" alt="Card image cap">
                            <div class="card-body">
                            <h4 class="card-title service_info"><a href="product.html" title="View Product">Product title</a></h4>
                            <p class="card-text service_info">Some quick example text to build on the card title....</p>
                            <div class="row">
                                <div class="col">
                                    <a href="/client/detailService" class="btn btn-primary  btn-block">Chi tiết >></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="card">
                        <div class=" service_info card-header bg-success text-white text-uppercase">
                            Sữa máy giặt
                       </div>
                        <img class="img-fluid border-0" src="https://kiendienlanh.com/image/cache/data/tai-xu%E1%BB%91ng-(1)-cr-220x145.jpg" alt="Card image cap">
                            <div class="card-body">
                            <h4 class="card-title service_info"><a href="product.html" title="View Product">Product title</a></h4>
                            <p class="card-text service_info">Some quick example text to build on the card title....</p>
                            <div class="row">
                                <div class="col">
                                    <a href="/client/detailService" class="btn btn-primary  btn-block">Chi tiết >></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="card">
                        <div class=" service_info card-header bg-success text-white text-uppercase">
                            Sữa máy giặt
                       </div>
                        <img class="img-fluid border-0" src="https://kiendienlanh.com/image/cache/data/tai-xu%E1%BB%91ng-(1)-cr-220x145.jpg" alt="Card image cap">
                            <div class="card-body">
                            <h4 class="card-title service_info"><a href="product.html" title="View Product">Product title</a></h4>
                            <p class="card-text service_info">Some quick example text to build on the card title....</p>
                            <div class="row">
                                <div class="col">
                                    <a href="/client/detailService" class="btn btn-primary  btn-block">Chi tiết >></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <nav aria-label="...">
                        <ul class="pagination">
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1">Previous</a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item active">
                                <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#">Next</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>

    </div>
</div>


</body>
</html>
