   /* pc  */
   @media (min-width: 64em) {
    .carousel_img{
        padding: 10px 150px;
        background-color: rgb(221, 204, 204);
        margin-bottom: 40px;
    }
}  
/* tablet */
@media (min-width:1024px) and (max-width:1366px) {
    .carousel_img{
        padding: 5px 50px;
        background-color: rgb(221, 204, 204);
        margin-bottom: 40px;
    }
    
}
    /*tablet & mobile */
@media (max-width:63.9375em) {
    .carousel_img{
        padding: 5px 150px;
        background-color: rgb(221, 204, 204);
        margin-bottom: 40px;
    }
}

/* tablet */
@media (min-width:46.25em) and (max-width:63.9375em) {
    .carousel_img{
        padding: 5px 2px;
        background-color: rgb(221, 204, 204);
        margin-bottom: 40px;
    }
    
}
/* mobile */
@media (max-width:46.1875em) {
    .carousel_img{
        padding: 5px 0;
        background-color: rgb(221, 204, 204);
        margin-bottom: 40px;
    }     
    
}